<mat-card>
  <form #filterForm="ngForm" fxLayout="row" (ngSubmit)="OnFormSubmit()">
  <mat-form-field appearance="fill">
      <mat-label>From Date</mat-label>
      <input matInput placeholder="From Date" [value]="fromDate" type="date" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>To Date</mat-label>
      <input matInput placeholder="To Date" [value]="toDate" type="date" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
      <mat-label>Platforms</mat-label>
      <mat-select [(value)]="platformSelected" required>
          <mat-option value="allPlatforms">All Platforms</mat-option>
          <mat-option value="twitter">Twitter</mat-option>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="linkedin">LinkedIn</mat-option>
        </mat-select>
  </mat-form-field>

  <button class="filterButton" [disabled]="!filterForm.valid" type="submit">Filter</button>
  <button class="filterButton" (click)="GenerateData()">Generate Data</button>
</form>
</mat-card>

<mat-card>
    <div class="mat-elevation-z8">
  
      <table mat-table matSort [dataSource]="dataSource">
  
        <ng-container matColumnDef="platforms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Platforms </th>
          <td mat-cell *matCellDef="let data"> {{data.platform}} </td>
        </ng-container>
  
        <ng-container matColumnDef="averageLikes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Likes </th>
          <td mat-cell *matCellDef="let data"> {{data.averageLikes}} </td>
        </ng-container>
  
        <ng-container matColumnDef="averageRetweets">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Retweets </th>
          <td mat-cell *matCellDef="let data"> {{data.averageRetweets}} </td>
        </ng-container>

        <ng-container matColumnDef="averageComments">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Comments </th>
          <td mat-cell *matCellDef="let data"> {{data.averageComments}} </td>
        </ng-container>

        <ng-container matColumnDef="totalLikes">
          <th mat-header-cell *matHeaderCellDef> Total Likes</th>
          <td mat-cell *matCellDef="let data"> {{data.totalLikes}} </td>
        </ng-container>

        <ng-container matColumnDef="totalRetweets">
          <th mat-header-cell *matHeaderCellDef> Total Retweets</th>
          <td mat-cell *matCellDef="let data"> {{data.totalRetweets}} </td>
        </ng-container>

        <ng-container matColumnDef="totalComments">
          <th mat-header-cell *matHeaderCellDef> Total Comments</th>
          <td mat-cell *matCellDef="let data"> {{data.totalComments}} </td>
        </ng-container>

        <ng-container matColumnDef="moreInfo">
          <th mat-header-cell *matHeaderCellDef> More Details </th>
        <td style="cursor: pointer; color:blue; text-decoration: underline;" mat-cell *matCellDef="let data"
          (click)=GoToPlatformDetails(data)> See Details </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="table"></tr>
        <tr mat-row *matRowDef="let row; columns: table;"></tr>
      </table>
  
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>