<mat-card>
    <form #filterForm="ngForm" fxLayout="row">
    <mat-form-field appearance="fill">
        <mat-label>From Date</mat-label>
        <input matInput placeholder="From Date" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>To Date</mat-label>
        <input matInput placeholder="To Date" required>
        
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Platforms</mat-label>
        <input matInput placeholder="Platform" required>
    </mat-form-field>
    <button class="filterButton" [disabled]="!filterForm.valid">Filter</button>
</form>
</mat-card>