<div style="width: 100%; margin: 5px;" fxLayoutAlign="center center">
<div class="panel">
    <h1>Select Events to Compare</h1>
<form #eventSearchForm="ngForm" (ngSubmit)="search()" fxLayout="row">
    <mat-form-field appearance="fill">
        <mat-label>Select Events to Compare</mat-label>
        <mat-select [(value)]="selectedEvents" required multiple>
            <mat-option *ngFor="let event of myEventNameList" value="{{event}}">{{event}}</mat-option>  
        </mat-select>      
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Platforms</mat-label>
        <mat-select [(value)]="platformSelected" required>
            <mat-option value="Twitter">Twitter</mat-option>
            <mat-option value="Facebook">Facebook</mat-option>
            <mat-option value="LinkedIn">LinkedIn</mat-option>
          </mat-select>
    </mat-form-field>

    <button class="buttons" type=submit color="primary" [disabled]="!eventSearchForm.valid">Compare</button>
</form>
</div>
</div>

<div *ngIf="loadingBool">
    <mat-spinner style="height: calc(100vh - 128px); width: 100%;" fxLayoutAlign="center center"></mat-spinner>
    </div>
<div *ngIf="eventsPickedBool && !loadingBool" fxLayoutAlign = "row">
    <highcharts-chart
    [Highcharts] = "pieHighcharts" 
    [options]="pieChartOptions"
    style = "width: 50%; height: 400px; display: block;">
 </highcharts-chart>
 <highcharts-chart
 [Highcharts] = "barHighCharts" 
 [options]="barChartOptions"
 style = "width: 50%; height: 400px; display: block;">
</highcharts-chart>
</div>
<div *ngIf="eventsPickedBool" fxLayoutAlign = "row">
<highcharts-chart
 [Highcharts] = "barHighCharts" 
 [options]="barChartOptions2"
 style = "width: 33%; height: 400px; display: block;">
</highcharts-chart>
<highcharts-chart
 [Highcharts] = "barHighCharts" 
 [options]="barChartOptions3"
 style = "width: 33%; height: 400px; display: block;">
</highcharts-chart>
<highcharts-chart
 [Highcharts] = "barHighCharts" 
 [options]="barChartOptions4"
 style = "width: 33%; height: 400px; display: block;">
</highcharts-chart>
</div>