.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a73359;
}
 
.headerPadding{
    background-color: lightgray;
    padding-top: 88px; /* Padding for header*/
     padding-bottom: 10px; /* Padding for footer will be changed*/
 }
