<!-- <div style="height: calc(100vh - 128px); width: 100%;" class="margin"> -->
<div class="panel">
    <p>Search for Event</p>
    <form #eventSearchForm="ngForm" (ngSubmit)="search()" fxLayout="row">
        <mat-form-field appearance="fill">
            <mat-label>Hashtag</mat-label>
            <input matInput placeholder="Hashtag Search" [(ngModel)]="hashtag" type="text"
                name="hashtag" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput placeholder="Start Date" type="date" [(ngModel)]="startDate"
                name="startDate" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput placeholder="End Date" type="date" [(ngModel)]="endDate"
                name="endDate" required>
        </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Platforms</mat-label>
                <mat-select [(value)]="platformSelected" required multiple>
                    <mat-option value="allPlatforms">All Platforms</mat-option>
                    <mat-option value="twitter">Twitter</mat-option>
                    <mat-option value="facebook">Facebook</mat-option>
                    <mat-option value="linkedIn">LinkedIn</mat-option>
                  </mat-select>
            </mat-form-field>

        <button class="buttons" type=submit color="primary" [disabled]="!eventSearchForm.valid">Search</button>
    </form>
</div>


<div class="panelWidth" *ngIf="searchBool">
    <h1>Search Results</h1>
    <mat-card *ngIf="twitterBool || allPlatformsBool">
        <h3>Twitter</h3>
        <div fxLayoutAlign = row>
        <highcharts-chart
        [Highcharts] = "pieHighcharts" 
        [options]="pieChartOptions"
        style = "width: 50%; height: 400px; display: block;">
     </highcharts-chart>
     <highcharts-chart
     [Highcharts] = "barHighCharts" 
     [options]="barChartOptions"
     style = "width: 50%; height: 400px; display: block;">
  </highcharts-chart>
</div>
        <!-- <p>{{hashtag}}</p> -->
    </mat-card>
    <mat-card *ngIf="linkedInBool || allPlatformsBool">
        <h3>LinkedIn</h3>
        <div fxLayoutAlign = row>
        <highcharts-chart
        [Highcharts] = "pieHighcharts" 
        [options]="pieChartOptions"
        style = "width: 50%; height: 400px; display: block;">
     </highcharts-chart>
     <highcharts-chart
     [Highcharts] = "barHighCharts" 
     [options]="barChartOptions"
     style = "width: 50%; height: 400px; display: block;">
  </highcharts-chart>
</div>
    </mat-card>
    <mat-card *ngIf="facebookBool || allPlatformsBool">
        <h3>Facebook</h3>
        <div fxLayoutAlign = row>
        <highcharts-chart
        [Highcharts] = "pieHighcharts" 
        [options]="pieChartOptions"
        style = "width: 50%; height: 400px; display: block;">
     </highcharts-chart>
     <highcharts-chart
     [Highcharts] = "barHighCharts" 
     [options]="barChartOptions"
     style = "width: 50%; height: 400px; display: block;">
  </highcharts-chart>
</div>
    </mat-card>
</div>
<!-- </div> -->