.mat-toolbar.mat-primary {
  background-color: #5c83ee;
}
.header-item{
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
    font-size: medium;
}