<div>
    <mat-toolbar color="primary">
        <span class="header-item" routerLink='/Home'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span>Home Page</span>
        </span>

        <span class="header-item" routerLink='/EventSearch'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span>Search</span>
        </span>

        <span class="header-item" routerLink='/EventComparison'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span class= "header-item">Comparison</span>
        </span>
        
        <span class="header-item" routerLink='/EventPrediction'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span>Prediction</span>
        </span>

        <span class="header-item" routerLink='/MyEvents'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span class= "header-item">My Events</span>
        </span>

        <span class="header-item" routerLink='/Settings'>
        <span routerLink='/Home' style="flex-direction: row;"></span>
          <span>Settings</span>
        </span>

    </mat-toolbar>
</div>
